In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('final_data.csv')
df.head()

     speed
0  7.07905
1  7.18000
2  7.00310
3  7.03170
4  7.64190

In [9]:
df.shape

(8784, 1)

In [4]:
df.head()

                  date    speed
0  2015-04-01 00:00:00  7.07905
1  2015-04-01 00:10:00  7.18000
2  2015-04-01 00:20:00  7.00310
3  2015-04-01 00:30:00  7.03170
4  2015-04-01 00:40:00  7.64190

In [5]:
X = df.speed
Xy = pd.DataFrame()

In [6]:
for i in range(3,0,-1):
    if i == 3:
        Xy['t'] = X.shift(i).values
    else:
        Xy['t+'+str(3-i)] = X.shift(i)
Xy['t+3'] = X.values

In [7]:
Xy

             t      t+1      t+2      t+3
0          NaN      NaN      NaN  7.07905
1          NaN      NaN  7.07905  7.18000
2          NaN  7.07905  7.18000  7.00310
3      7.07905  7.18000  7.00310  7.03170
4      7.18000  7.00310  7.03170  7.64190
...        ...      ...      ...      ...
26347  4.91985  4.91985  5.09035  7.68615
26348  4.91985  5.09035  7.68615  7.68615
26349  5.09035  7.68615  7.68615  9.22310
26350  7.68615  7.68615  9.22310  5.29970
26351  7.68615  9.22310  5.29970  5.29970

[26352 rows x 4 columns]

In [8]:
Xy = Xy[3:]
Xy

             t      t+1      t+2      t+3
3      7.07905  7.18000  7.00310  7.03170
4      7.18000  7.00310  7.03170  7.64190
5      7.00310  7.03170  7.64190  7.30195
6      7.03170  7.64190  7.30195  7.07125
7      7.64190  7.30195  7.07125  6.84290
...        ...      ...      ...      ...
26347  4.91985  4.91985  5.09035  7.68615
26348  4.91985  5.09035  7.68615  7.68615
26349  5.09035  7.68615  7.68615  9.22310
26350  7.68615  7.68615  9.22310  5.29970
26351  7.68615  9.22310  5.29970  5.29970

[26349 rows x 4 columns]

In [9]:
Xy.shape

(26349, 4)

In [10]:
tr_len = int(.6*df.shape[0])
val_len = (df.shape[0] - tr_len)//2

In [11]:
X = Xy['t']
y = Xy.drop(['t'], axis=1)

In [12]:
X.shape, y.shape

((26349,), (26349, 3))

In [13]:
import warnings
warnings.filterwarnings("ignore")

In [14]:
import FIF
    
fif=FIF.FIF()
fif.run(X)

Loading FIF version: 2.13
IMF 1
IMF 2
IMF 3
IMF 4
IMF 5
IMF 6
IMF 7
IMF 8
IMF 9
IMF 10
IMF 11
IMF 12
IMF 13
IMF 14
IMF 15
IMF 16
IMF 17
IMF 18
IMF 19
IMF 20
IMF 21
IMF 22
IMF 23
IMF 24
IMF 25
IMF 26
IMF 27
IMF 28
IMF 29
IMF 30
IMF 31
IMF 32
IMF 33
IMF 34
IMF 35
IMF 36
IMF 37
IMF 38
IMF 39
IMF 40
IMF 41
IMF 42
IMF 43
IMF 44
IMF 45
IMF 46
IMF 47
IMF 48
IMF 49
IMF 50
IMF 51
IMF 52
IMF 53
IMF 54
IMF 55
IMF 56
IMF 57
IMF 58
IMF 59
IMF 60
IMF 61
IMF 62
IMF 63
IMF 64
Max # of inner steps reached
IMF 65
IMF 66
IMF 67
IMF 68
IMF 69
Max # of inner steps reached
IMF 70
Max # of inner steps reached
IMF 71
Max # of inner steps reached
IMF 72
IMF 73
IMF 74

In [15]:
def split_data(arr, tr_len):
    total_len = arr.shape[0]
    val_len = (total_len - tr_len) // 2
    tr_arr = arr[:tr_len]
    val_arr = arr[tr_len:tr_len+val_len]
    tes_arr = arr[tr_len+val_len:]
    return tr_arr, val_arr, tes_arr

In [16]:
Xtr, Xval, Xte = split_data(X, int(.6*df.shape[0]))
ytr, yval, yte = split_data(y, int(.6*df.shape[0]))

In [17]:
fif.data['IMC'].shape

(75, 26349)

In [18]:
df_decomp = pd.DataFrame()
# df_decomp['original'] = X
for i in range(fif.data['IMC'].shape[0]):
    df_decomp['IMF-'+str(i)] = fif.data['IMC'][i, :]

# for i in range(3):
#     df_decomp['t+'+str(i+1)] = y['t+'+str(i+1)]

In [19]:
df_decomp.shape

(26349, 75)

In [20]:
df_decomp.columns

Index(['IMF-0', 'IMF-1', 'IMF-2', 'IMF-3', 'IMF-4', 'IMF-5', 'IMF-6', 'IMF-7',
       'IMF-8', 'IMF-9', 'IMF-10', 'IMF-11', 'IMF-12', 'IMF-13', 'IMF-14',
       'IMF-15', 'IMF-16', 'IMF-17', 'IMF-18', 'IMF-19', 'IMF-20', 'IMF-21',
       'IMF-22', 'IMF-23', 'IMF-24', 'IMF-25', 'IMF-26', 'IMF-27', 'IMF-28',
       'IMF-29', 'IMF-30', 'IMF-31', 'IMF-32', 'IMF-33', 'IMF-34', 'IMF-35',
       'IMF-36', 'IMF-37', 'IMF-38', 'IMF-39', 'IMF-40', 'IMF-41', 'IMF-42',
       'IMF-43', 'IMF-44', 'IMF-45', 'IMF-46', 'IMF-47', 'IMF-48', 'IMF-49',
       'IMF-50', 'IMF-51', 'IMF-52', 'IMF-53', 'IMF-54', 'IMF-55', 'IMF-56',
       'IMF-57', 'IMF-58', 'IMF-59', 'IMF-60', 'IMF-61', 'IMF-62', 'IMF-63',
       'IMF-64', 'IMF-65', 'IMF-66', 'IMF-67', 'IMF-68', 'IMF-69', 'IMF-70',
       'IMF-71', 'IMF-72', 'IMF-73', 'IMF-74'],
      dtype='object')

In [22]:

def create_features(series, m, hmin = 10):
    h = hmin//10
    dataframe = pd.DataFrame()

    for i in range(m+h, h, -1):
        # if i > h:
        dataframe['t-'+str(i-h)] = series.shift(i).values
    dataframe['t'] = series.values
    dataframe = dataframe[(m+h):]
    return dataframe

In [23]:
imfs = []
for i in range(fif.data['IMC'].shape[0]):
    imfs.append(fif.data['IMC'][i, :])

In [24]:
from LSSVM import LSSVMRegression

In [ ]:
reg = LSSVMRegression()
reg.fit(Xtr.to_numpy().reshape(-1, 1), ytr['t+1'].to_numpy())

In [33]:
ytr.to_numpy().shape

(15811, 3)